<ion-view title="Converter" class="bubble-background">
  <ion-content class="has-header">
    <div class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Desimal</span>
          <input type="number" name="base10" id="base10" placeholder="0" oninput="numberOnInput(this)">
        </label>
        <label class="item item-input">
          <span class="input-label">Octal</span>
          <input type="number" name="base8" id="base8" placeholder="0" oninput="numberOnInput(this)">
        </label>
        <label class="item item-input">
          <span class="input-label">Hexa</span>
          <input type="text" name="base16" id="base16" placeholder="0" oninput="numberOnInput(this)">
        </label>
        <label class="item item-input">
          <span class="input-label">Binary</span>
          <input type="number" name="base2" id="base2" placeholder="0" oninput="numberOnInput(this)">
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>