<ion-view title="Jadwal Kuliah" class="bubble-background">
<ion-content class="has-header">
    
<div class="card">
  <div class="item item-divider item-{{::appTheme}}">
    Selasa
  </div>
  <div class="item item-text-wrap">
    1. Sistem Informasi Manajemen | 1/2/3 | E317 | Asyaroh Ramadona<br /><br />
    2. Pengantar Web Science # | 4/5 | E317 | Purnawarman Musa<br /><br />
    3. Matematika Lanjut 2 | 7/8/9 | E133 | Endah Budiyati
  </div>
</div>

<div class="card">
  <div class="item item-divider item-{{::appTheme}}">
    Rabu
  </div>
  <div class="item item-text-wrap">
    1. Sistem Berkas * | 1/2/3 | G421 | Susi Widayati<br /><br />
    2. Pemrograman Berbasis Obyek ** | 5/6 | G134 | Risdawati<br /><br />
    3. Bahasa Indonesia 2 | 7/8 | G134 | Tri Wahyu Retno<br /><br />
    4. Arsitektur Komputer * | 9/10 | G134 | Sandhi Prajaka
  </div>
</div>

<div class="card">
  <div class="item item-divider item-{{::appTheme}}">
    Kamis
  </div>
  <div class="item item-text-wrap">
    1. Matematika Informatika 4 * | 5/6/7 | D336 | Nurhanan<br /><br />
    2. Legal Aspek Produk TIK | 9/10 | D647 | Henki Firdaus
  </div>
</div>

<div class="card">
  <div class="item item-divider item-{{::appTheme}}">
    Sabtu
  </div>
  <div class="item item-text-wrap">
    1. Statistika 2 ** | 1/2/3 | E221 | Andy Widyantho
    </div>
</div>

</ion-content>
</ion-view>