<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-{{::appTheme}}">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar ng-class="'bar-' + appTheme">
     <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close class="item-icon-left" href="#/app/dashboard">
          <i class="icon ion-home"></i>
          Dashboard
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/jadwal">
          <i class="icon ion-calendar"></i>
          Jadwal Kuliah
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/jam">
          <i class="icon ion-clock"></i>
          Informasi Jam
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/ilab">
          <i class="icon ion-laptop"></i>
          Jadwal iLab
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/converter">
          <i class="icon ion-calculator"></i>
          Converter
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/tugas">
          <i class="icon ion-clipboard"></i>
          Daftar Tugas
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/setting">
          <i class="icon ion-settings"></i>
          Pengaturan
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
