<ion-view title="Pengaturan" class="bubble-background">
  <ion-content class="has-header" >
    <div class="padding">
    <div class="item item-divider item-{{::appTheme}}">
          Tentukan Tema
    </div>
  <div class="list" >
  <label class="item item-input item-select" >
    <div class="input-label">
      Tema
    </div>
    <select ng-value="theme" ng-model="appTheme" ng-change="themeChange(appTheme)" ng-options="theme for theme in themes">
    </select>
  </label>
  </div>
  </div>
  </ion-content>
</ion-view>